@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>introduction</p>
</div>


<table class="table">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tbody>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                <td>@i</td>
                <td>@(i+1)</td>
                <td>@(i+2)</td>
            </tr>
        }
    </tbody>
</table>




















